@import "tailwindcss";

body {
  font-family: monospace;
}
:root {
  --circle-fg: var(--color-zinc-900);
  --circle-bg: var(--color-zinc-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --circle-fg: var(--color-white);
    --circle-bg: var(--color-zinc-700);
  }
}

.circle {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: conic-gradient(var(--circle-fg) 0%,
      var(--circle-fg) var(--progress),
      var(--circle-bg) var(--progress),
      var(--circle-bg) 100%);
  position: relative;
}

.inner-circle {
  width: calc(100% - var(--spacing)*4);
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
}
