coverage.out
httpd/webgui-preact/logs
httpd/webgui-preact/*.log
httpd/webgui-preact/npm-debug.log*
httpd/webgui-preact/yarn-debug.log*
httpd/webgui-preact/yarn-error.log*
httpd/webgui-preact/pnpm-debug.log*
httpd/webgui-preact/lerna-debug.log*
httpd/webgui-preact/node_modules/
httpd/webgui-preact/dist/
tmp/
goje_android_arm64
goje_linux_amd64
goje_windows_amd64.exe
*.bz2
*.zip
goje
